.main-banner .item-1 {
  background-image: url(/public/assets/images/banner-01.jpg);
}
.main-banner .item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 220px 20% 320px 20%;
    margin-top: 0px;
  }
  .main-banner .item span.category {
    background-color: #fff;
    color: #1e1e1e;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 6px 15px;
    display: inline-block;
    margin-bottom: 30px;
  }
  .main-banner .item span.category em {
    font-style: normal;
    color: #f35525;
  }
  .main-banner .item span.category {
    color: #1e1e1e;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .main-banner .item h2 {
    font-size: 62px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    line-height: 72px;
    width: 50%;
    margin-bottom: 0px;
  }
  .owl-item{
    width: 1536px;
  margin-right: 30px;
  }
  .owl-carousel.owl-loaded {
  display: block;
}
.main-banner .item span.category {
    background-color: #fff;
    color: #1e1e1e;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 6px 15px;
    display: inline-block;
    margin-bottom: 30px;
  }
  .main-banner .item span.category em {
    font-style: normal;
    color: #f35525;
  }
  